.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 570px;
}

@media (max-width:500px){
    .bg{
        width: 90% !important;
        height: 70% !important;
    }
    .bg div{
        font-size: 1rem !important;
    }
}

.bg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.23);
    padding: 10px 40px;
    width: 50%;
    height: 50%;
}

.bg div{
    font-size: 1.2rem;
    font-weight: 500;
}