.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.75em 0;
    background-color: yellow;
}

.contenedorElse{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20em;
}
.elseh1{
    font-size: 2em;
    font-weight: 500;
}