.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: #C75C2E 0%;
}

.home, .about{
    text-decoration: none;
    color: black;
}

.home:hover, .about:hover{
    color: whitesmoke;
}