.contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    background: rgba(255, 255, 255, 0.23);
}

@media (max-width:500px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        padding: 10px 10px;
    }
    .home{
        font-size: 1.2rem;
    }
    .about{
        font-size: 1.2rem;
    }
}

.active{
    color: black;
    text-decoration: none;
}

.active:hover{
    color: whitesmoke;
}