
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
body {
  background: linear-gradient(360deg, #C75C2E 0%, #715C77 51.04%, #292A4E 100%);
  background-attachment: fixed;
}


